<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Uber API Example App</title>
</head>
<body>
	<h2>Uber API Example App</h2>
	<h4>You are now authenticated within Uber.</h4>
	<p><a href="/profile">Profile</a></p>
	<p><a href="/history">History</a></p>
	<p><a href="/logout">Logout</a></p>
</body>
</html>
