<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Uber API Example App</title>
</head>
<body>
	<h2>Uber API Example App</h2>
	<p><a href="/auth/uber">Login</a></p>
</body>
</html>
