#map {
  height: 400px;
  width: 100%;
}
.navbar {
  background: rgba(187,197,205,0.3);
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('//demosthenes.info/assets/images/landing-page.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

#landing-page {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 2rem;
  margin:2rem;
  font-size: 1.2rem;
}
#landing-page button {
  display: block;
  width: 80%;
  padding: .4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(255,255,255,0.2);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;
}
#landing-page button:hover {
  background: rgba(255,255,255,0.2);
}

#landing-page a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: rgba(255,255,255,0.2);
  padding: .5rem;
  transition: .6s background;
}
#landing-page a:hover{
  background:rgba(255,255,255,0.2);
}

.logo {
  width: 50px;
  height: 25px;
}

.loader {
  border: 2px solid #f3f3f3;
  border-radius: 100%;
  border-top: 2px solid #3498db;
  width: 20px;
  height: 20px;
  margin: 0px 5px;
  float: right;
  clear: both;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
